---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark: darken($grey-color, 25%);
$background-color-light-grey: #F7F7F7;

$text-color: #333;
$background-color: #FDFDFD;
$background-color-light-grey: #F7F7F7;
$brand-color: #1A25FB;

// Width of the content area
$content-width: 1000px;

$on-iphone-se: 320px;
$on-mobile: 560px;
$on-laptop: 1000px;


// Use media queries like this:
// @include media-query($on-mobile) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "shared",
        "base",
        "icons",
        "site",
        "blog",
        "archive",
        "syntax-highlighting",
        "sidebar",
        "nuke"
;
