---
layout: default
redirect_from: /blog/
---

<main>

{% include site-header.html %}

<div class="home base__hor_insets">

<div class="home-posts-container">

{% for post in site.posts %}
	{% if site.featured_posts contains post.uuid %}
	<div class="blog__post-preview-featured__container">
	    {% include post_preview.html %}
	</div>
	{% endif %}
{% endfor %}

<div class="blog__post-preview__list-container">
{% for post in site.posts %}
	{% unless site.featured_posts contains post.uuid %}
	{% if post.cover != NULL %}
	<div class="blog__post-preview-with-cover__container">
	    {% include post_preview_with_cover.html %}
	</div>
	{% else %}
	<div class="blog__post-preview__container">
	    {% include post_preview.html %}
	</div>
	{% endif %}
	{% endunless %}
{% endfor %}
</div>

</div> <!--home-posts-container!-->

</div> <!--home!-->

</main>


<aside class="sidebar base__card">

{% include sidebar-home.html %}

</aside>
