---
layout: default
redirect_from: /blog/
---

<main>

<div class="home">

<div class="home-header-mobile">
	<div class="sidebar-block">
		{% include sidebar-header.html %}
	</div>
</div>

<div class="home-posts-container">

{% for post in site.posts %}
	{% if post.uuid == site.featured_post %}
	<div class="blog__post-preview-featured__container">
	    {% include post_preview.html %}
	</div>
	{% endif %}
{% endfor %}

<div class="blog__post-preview__list-container">
{% for post in site.posts %}
	{% if post.uuid != site.featured_post %}
	{% if post.cover != NULL %}
	<div class="blog__post-preview-with-cover__container">
	    {% include post_preview_with_cover.html %}
	</div>
	{% else %}
	<div class="blog__post-preview__container">
	    {% include post_preview.html %}
	</div>
	{% endif %}
	{% endif %}
{% endfor %}
</div>

</div> <!--home-posts-container!-->

</div> <!--home!-->

</main>


<aside class="sidebar base__card">

{% include sidebar-home.html %}

</aside>
