<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-wrapper">
        <ul>
          <li>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
          <li>Contacts: <a href="https://github.com/kean">Github</a> | <a href="https://twitter.com/a_grebenyuk">Twitter</a> | <a href="https://www.linkedin.com/in/alexander-grebenyuk">Linkedin</a> | <a href="https://www.flickr.com/photos/agrebenyuk/">Flickr</a></li>
          <li>© 2017 <a href="https://github.com/kean">Alexander Grebenyuk</a></li>
          <li>Icons by <a href="https://icons8.com">Icons8</a></li>
        </ul>
    </div>

  </div>

</footer>
