<header class="site-header Any-horInsets">

<div class="home-header-mobile">
	<div class="SidebarSections">
		<div class="SidebarHeader">

		<div>
			<a href="{{ site.baseurl }}/">
				<img src="{{ site.url }}/images/avatar.jpg" class="SidebarHeader_Avatar">
			</a>
			<a href="{{ site.baseurl }}/">
				<h2 class="Link-subtle">Alexander<br/>Grebenyuk</h2>
			</a>
			<p>Passionate software engineer</p>
		</div>
		</a>

		<div class="SidebarHeader_Contacts">
			<p>
			    <a href="https://github.com/kean">Github</a> | <a href="https://twitter.com/a_grebenyuk">Twitter</a> |
			    <a href="https://www.linkedin.com/in/alex-grebenyuk">Linkedin</a> | <a href="https://www.flickr.com/photos/agrebenyuk/">Flickr</a>
			</p>
		</div>

		</div>

	</div>
</div>

</header>
