<div class="home__post-preview-with-cover__flex_container">
	<!-- To the left: image -->
	<div class="home__post-preview-with-cover__flex_item">
		<img src="{{ site.url }}{{ post.cover }}">
	</div>

	<!-- To the right: title, subtitle, etc -->
	<div class="home__post-preview-with-cover__flex_item">
		<header class="post-title-container">
			<p class="post-meta"><span>{{ post.date | date: "%b %-d, %Y" }}</span></p>
		    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		</header>
		<p class="post-excerpt">{{ post.subtitle }}</p>
	</div>
</div>
