<div class="sidebar-header">

<img src="{{ site.url }}/images/avatar.jpeg" class="sidebar-avatar">

<h2 class="sidebar-title">Alexander<br/>Grebenyuk</h2>

<p>Software developer from Moscow programming in Swift, Objective-C and more.</p>


<div class="sidebar-contacts">
<p>
    <a href="https://github.com/kean">Github</a> | <a href="https://twitter.com/a_grebenyuk">Twitter</a> |
    <a href="https://www.linkedin.com/in/alexander-grebenyuk">Linkedin</a> | <a href="https://www.flickr.com/photos/agrebenyuk/">Flickr</a>
</p>
</div>

</div>
