<div class="sidebar-header">

<div class="sidebar-header-about">
	<a href="{{ site.baseurl }}/">
		<img src="{{ site.url }}/images/avatar.jpeg" class="sidebar-avatar">
	</a>
	<a href="{{ site.baseurl }}/">
		<h2 class="sidebar-title">Alexander<br/>Grebenyuk</h2>
	</a>
	<p>Passionate software developer building iOS apps</p>
</div>
</a>

<div class="sidebar-contacts">
	<p>
	    <a href="https://github.com/kean">Github</a> | <a href="https://twitter.com/a_grebenyuk">Twitter</a> |
	    <a href="https://www.linkedin.com/in/alex-grebenyuk">Linkedin</a> | <a href="https://www.flickr.com/photos/agrebenyuk/">Flickr</a>
	</p>
</div>

</div>
