<footer class="SiteFooter">

  <div class="wrapper Any-horInsets">

    <div class="SiteFooter_Links">
        <ul>
          <li>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
          <li>Contacts: {% include contacts.html %}</li>
          <li>© 2015-2018 <a href="https://github.com/kean">Alexander Grebenyuk</a></li>
          <li>This site is <a href="https://github.com/kean/kean.github.io/tree/master/_posts">Open Source</a></li>
        </ul>
    </div>

  </div>

</footer>
