<header class="SiteHeader">

<div class="SiteHeaderContents">

<div class="SiteHeaderProfile">
	<div>
		<a href="{{ site.baseurl }}/">
			<img class="SiteHeaderProfile_Avatar" src="{{ site.url }}/images/avatar.jpg">
		</a>
	</div>

	<div class="SiteHeaderProfile_Spacer"></div>

	<div>
		<a class="Link-subtle" href="{{ site.baseurl }}/">
			<h2>Alexander Grebenyuk</h2>
		</a>
		<div class="SiteHeaderProfile_Contacts">
			<p><a href="{{ site.url }}/archive/index.html">Articles</a><a href="https://github.com/kean">Code</a><a href="https://twitter.com/a_grebenyuk">Twitter</a><a href="{{ site.url }}/about/index.html">About</a></p>
		</div>
	</div>

<!-- 	<div class="SponsorButtonHeaderContainer">
		<a href="https://www.patreon.com/agrebenyuk">
			<div class="PrimaryButton SponsorButton">♡ Sponsor</div>
		</a>
	</div> -->
</div>

</div>

</header>
