/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, main, aside {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-top: $spacing-unit / 2;
}

p,
%vertical-rhythm {
    margin-top: $spacing-unit / 3;
}


h1, h2, h3
%vertical-rhythm {
    margin-top: $spacing-unit * 1.25;
    @include media-query($on-palm) {
        margin-top: $spacing-unit * 1;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: 700;
}

main {
    max-width: 71%;
    float: right;

    @include media-query($on-laptop) {
        max-width: 100%;
    }
}

aside {
    width: 220px;
    float: left;
    padding: $spacing-unit * 0.75 $spacing-unit * 0.5;
    background: $grey-backgrould-light-color;
    border: 0.5px solid $grey-color-light;
    border-radius: 8px;

    @include media-query($on-laptop) {
        display: none;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

ul, ol {
    margin-left: $spacing-unit;
}

li > ul {
    margin-top: 0;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        text-decoration: underline;
    }
}

blockquote {
    font-size: 16px;
    color: $grey-color-dark;
    border-left: 3px solid $brand-color;
    margin: 0;
    @include media-query($on-palm) {
        font-size: 15px;
    }
    padding: 0 0.5 * $spacing-unit;
}

pre,
code {
    font-family: Menlo, monospace, Courier, Consolas, "Liberation Mono", monospace;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.4px;
    border-radius: 8px;
    background-color: $grey-backgrould-light-color;
    border: 0.5px solid $grey-color-light;
}

code {
    padding: 3px 5px;
}

pre {
    padding: 12px 12px;
    overflow-x: auto;

    > code {
        font-size: 13px;
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-palm) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.hr-divider {
    margin: $spacing-unit * 0.5 0 $spacing-unit 0;
    border-top: 1px solid #e0e0e0;
    transform: scaleY(0.5);
    width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
