/**
 * Posts Container
 */
.HomePostsList {
    h3 { // Recent, etc
        margin: $spacing-unit * 1.5 0 0.5 * $spacing-unit 0;
    }
}

// Sections Homepage
// ===============================================

.SectionTitle {
    margin-top: 1.5 * $spacing-unit;
    margin-bottom: 0.5 * $spacing-unit;
    color: lighten($grey-color, 15%);
}

.SectionFooter {
    margin-top: -(0.25 * $spacing-unit);
}

// Reusable Blocks
// ================================================

.PostHeader {
    margin: 0.5 * $spacing-unit 0;
}

.PostTitle {
    letter-spacing: -1px;
    line-height: 1.0;
    margin: 0;
    margin-top: 6px;
}

.PostLink {
    line-height: 1.0;
    letter-spacing: -1px;

    font-size: 32px;
    @include media-query($on-mobile) {
        font-size: 28px;
    }
}

.PostMeta {
    color: lighten($grey-color, 15%);
    //font-size: 18px;
    font-weight: 400;

    img {
        margin-bottom: 3px;
    }
}

.PostContents {
    h2 {
        font-weight: 600;
        font-size: 34px;
        @include media-query($on-mobile) {
            font-size: 28px;
        }

        margin-top: $spacing-unit;
    }

    h3 {
        font-weight: 700;
        font-size: 24px;
        @include media-query($on-mobile) {
            font-size: 20px;
        }
        margin-top: $spacing-unit;
    }
}

.MediaButtons {
    margin-top: $spacing-unit * 1;
    margin-bottom: 0;

    .icon {
        margin: 0 3px;
    }

    a {
        font-weight: 600;
    }
}

img.Screenshot {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit / 2;
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ShowCommentsSection {
    margin-top: $spacing-unit;
    display: flex;
    justify-content: center;
    @include media-query($on-mobile) {
        margin: 0.5 * $spacing-unit 0;
    }
}

// Post Footer
// ================================================
.PostFooter {

}

.PostNavigation {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: $spacing-unit 0;

    padding: $spacing-unit;
    @include media-query($on-mobile) {
        padding: 0.5 * $spacing-unit;  
    }
 }

.PostNavigation_Button {
    width: 44.333333%;
}

.PostNavigation_ButtonTitle {
    h2 {
        color: $grey-color;
        margin-top: 0;
        font-size: 22px;
        @include media-query($on-mobile) {
            font-size: 16px;
        }
    }
}

.PostNavigation_PostPreview {
    .PostMiniPreview {
        margin-top: $spacing-unit * 0.25;

        .PostLink {
            font-size: 26px;
            @include media-query($on-mobile) {
                font-size: 20px;
            }
        }

        .PostMeta {
            margin-top: 0;
            @include media-query($on-mobile) {
                margin-top: 6px;
            }
        }
    }
}

// PostPreview, PostPreviewList
// ================================================

.PostPreview {

}

.PostPreviewList {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .PostPreview {
        margin-bottom: 1 * $spacing-unit;

        width: 46%;
        @include media-query($on-mobile) {
            width: 100%;
        }
    }

    .PostPreview-featured {
        margin-bottom: $spacing-unit;
        @include media-query($on-mobile) {
            margin-bottom: 0.5 * $spacing-unit;
        }

        width: 100%;
    }
 }

.PostPreview_Header {
    margin-top: 0.5 * $spacing-unit;
    margin-bottom: 0.25 * $spacing-unit;
    h2 {
        margin: 0;
        margin-top: 6px;
    }
}

.PostPreview_Subtitle {
    margin: 0px;
}

.PostPreview-featured .PostLink {
    font-size: 56px;
    @include media-query($on-mobile) {
        font-size: 44px;
    }
    @include media-query($on-mobile) {
        font-size: 40px;
    }
}

.PostMiniPreview {    
    h2 {
        line-height: 1.0;
        margin: 0;
        margin-bottom: 0.1 * $spacing-unit;
    }

    .PostLink {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    .PostMeta {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 0 * $spacing-unit;
    }
}

// Table of Contents
// ================================================

.TableOfContents {
    margin-left: 0;
    list-style: none;
    list-style-type: none;

    ul {
        list-style: none;
    }

    > li:first-child {
        margin-top: 0;
        border-top: none;
    }

    h4 {
        margin-top: 0;
    }

        a {
        color: $text-color;
        transition: all 0.075s linear;
        text-decoration: none;

        &:visited {
            color: $text-color;
        }
        &:hover {
            color: lighten($text-color, 25%);
            text-decoration: none;
        }
    }

    a.active {
        color: $brand-color;
    }
}

.TOCItem2 {
    a {
        font-size: 17px;
        line-height: 17px;
        font-weight: 500;
    }

    ul {
        margin-left: 0.5 * $spacing-unit;
    }
}

.TOCItem3 {
    a {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
    }

    li {
        margin-left: 0;
    }
}

// Post Specific
// ================================================

img.PostStackView_Screenshot {
    height: auto;
    width: 405px;
}
