/**
 * Posts Container
 */
.HomePostsList {
    h3 { // Recent, etc
        margin: $spacing-unit * 1.5 0 0.5 * $spacing-unit 0;
    }
}

// Reusable Blocks
// ================================================

.PostHeader {
    margin: 0.5 * $spacing-unit 0;
}

.PostTitle {
    letter-spacing: -1px;
    line-height: 1.0;
    margin: 0;
    margin-top: 6px;
}

.PostLink {
    line-height: 1.0;
    letter-spacing: -1px;

    font-size: 32px;
    @include media-query($on-mobile) {
        font-size: 28px;
    }
}

.PostMeta {
    color: $grey-color;
    font-size: 14px;
    font-weight: 300;
}

.PostContents {
    h2 {
        font-weight: 600;
        font-size: 28px;
        @include media-query($on-mobile) {
            font-size: 26px;
        }

        margin-top: $spacing-unit;
    }

    h3 {
        font-weight: 700;
        font-size: 18px;
        margin-top: $spacing-unit;
    }
}

.MediaButtons {
    margin-top: $spacing-unit * 1;
    margin-bottom: 0;

    .icon {
        margin: 0 3px;
    }

    a {
        font-weight: 600;
    }
}

img.Screenshot {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit / 2;
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Post Footer
// ================================================
.PostFooter {

}

.PostNavigation {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: $spacing-unit 0;

    padding: $spacing-unit;
    @include media-query($on-mobile) {
        padding: 0.5 * $spacing-unit;  
    }
 }

.PostNavigation_Button {
    width: 44.333333%;
}

.PostNavigation_ButtonTitle {
    h2 {
        color: $grey-color;
        margin-top: 0;
        font-size: 22px;
        @include media-query($on-mobile) {
            font-size: 16px;
        }
    }
}

.PostNavigation_PostPreview {
    .PostMiniPreview {
        margin-top: $spacing-unit * 0.25;

        .PostLink {
            font-size: 26px;
            @include media-query($on-mobile) {
                font-size: 20px;
            }
        }

        .PostMeta {
            margin-top: 0;
            @include media-query($on-mobile) {
                margin-top: 6px;
            }
        }
    }
}

// PostPreview, PostPreviewList
// ================================================

.PostPreview {

}

.PostPreviewList {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .PostPreview {
        margin-bottom: 0.5 * $spacing-unit;

        width: 47.8%;
        @include media-query($on-mobile) {
            width: 100%;
        }
    }

    .PostPreview-featured {
        margin-bottom: $spacing-unit;
        @include media-query($on-mobile) {
            margin-bottom: 0.5 * $spacing-unit;
        }

        width: 100%;
    }
 }

.PostPreview_Header {
    margin-top: 0.5 * $spacing-unit;
    margin-bottom: 0.25 * $spacing-unit;
    h2 {
        margin: 0;
        margin-top: 6px;
    }
}

.PostPreview_Subtitle {
    margin: 0px;
}

.PostPreview-featured .PostLink {
    font-size: 50px;
    @include media-query($on-mobile) {
        font-size: 44px;
    }
    @include media-query($on-mobile) {
        font-size: 40px;
    }
}

.PostMiniPreview {    
    h2 {
        line-height: 1.0;
        margin: 0;
        margin-bottom: 0.1 * $spacing-unit;
    }

    .PostLink {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    .PostMeta {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 0 * $spacing-unit;
    }
}

// Post Specific
// ================================================

img.PostStackView_Screenshot {
    height: auto;
    width: 405px;
}
