// Sections Homepage
// ===============================================

.SectionTitle {
    margin-top: 1.5 * $spacing-unit;
    margin-bottom: 0.5 * $spacing-unit;
    color: lighten($grey-color, 15%);
}

.SectionFooter {
    margin-top: -(0.25 * $spacing-unit);
}

// Reusable Blocks
// ================================================

.PostHeader {
    margin: 0.5 * $spacing-unit 0;
    margin-top: 0;
    margin-bottom: $spacing-unit;

    .PostMeta {
        margin-top: 0.25 * $spacing-unit;
    }
}

.PostTitle {
    letter-spacing: -1px;
    line-height: 1.0;
    margin: 0;
}

.PostLink {
    line-height: 1.0;
    letter-spacing: -1px;

    font-size: 30px;
    @include media-query($on-mobile) {
        font-size: 28px;
    }
}

.PostMeta {
    color: lighten($grey-color, 15%);
    font-weight: 400;
    font-size: 17px;

    img {
        margin-bottom: 3px;
    }
}

.PostContents {
    h2 {
        font-weight: 600;
        font-size: 34px;
        @include media-query($on-mobile) {
            font-size: 28px;
        }

        margin-top: $spacing-unit;
    }

    h3 {
        font-weight: 700;
        font-size: 24px;
        @include media-query($on-mobile) {
            font-size: 20px;
        }
        margin-top: $spacing-unit;
    }
}

.MediaButtons {
    margin-top: $spacing-unit * 1;
    margin-bottom: 0;

    .icon {
        margin: 0 3px;
    }

    a {
        font-weight: 600;
    }
}

img.Screenshot {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit / 2;
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (prefers-color-scheme: dark) {
    img.Screenshot {
        box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.7);
    }
}

.ShowCommentsSection {
    margin: $spacing-unit 0;
    display: flex;
    justify-content: center;
}

// Post Footer
// ================================================
.PostFooter {

}

.References {
    border-top: 2px solid var(--separator-color);
    margin-top: $spacing-unit;

    strong {
        font-weight: 500;
    }

    li {
        margin: 0.25 * $spacing-unit 0.25 * $spacing-unit;
    }
}

.RecentArticles {
    border-top: 2px solid var(--separator-color);
    margin-top: $spacing-unit;

    strong {
        font-weight: 500;
    }

    .SectionTitle {
        margin-top: $spacing-unit;
    }
}

.FootnotesSection {
    border-top: 2px solid var(--separator-color);
    margin-top: $spacing-unit;
}

.footnotes {
    p {
        font-size: 16px;
        color: var(--text-color-lighten-secondary);
    }

    code {
        font-size: 15px;
    }

    ol {
        font-size: 16px;
        color: var(--text-color-lighten-secondary);
    }
}

// PostPreview, PostPreviewList
// ================================================

.PostPreview {

}

.PostPreviewList {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .PostPreview {
        margin-bottom: 1 * $spacing-unit;

        width: 46%;
        @include media-query($on-mobile) {
            width: 100%;
        }
    }

    .PostPreview-featured {
        margin-bottom: $spacing-unit;
        @include media-query($on-mobile) {
            margin-bottom: 0.5 * $spacing-unit;
        }

        width: 100%;
    }
 }

.PostPreview_Header {
    margin-top: 0.5 * $spacing-unit;
    margin-bottom: 0.25 * $spacing-unit;
    h2 {
        margin: 0;
        margin-top: 6px;
    }
}

.PostPreview_Subtitle {
    margin: 0px;
    font-size: 17px;
    color: var(--text-color-lighten-secondary);
}

.PostPreview-featured .PostLink {
    font-size: 58px;
    @include media-query($on-mobile) {
        font-size: 44px;
    }
    @include media-query($on-mobile) {
        font-size: 40px;
    }
}

.PostMiniPreview {    
    h2 {
        line-height: 1.0;
        margin: 0;
        margin-bottom: 0.1 * $spacing-unit;
    }

    .PostLink {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    .PostMeta {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 0 * $spacing-unit;
    }
}

// Quotation
// ================================================

.quotation {
    padding-top: $spacing-unit * 0.5;
    font-size: 22px;
    quotes: "\201C""\201D""\2018""\2019";

    @include media-query($on-mobile) {
        font-size: 20px;
    }
}

.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
}

.quotation {
    footer {
        text-align: right;
        /*font-size: 1em;*/
        font-style: italic;
    }
}

// Table of Contents
// ================================================

.TableOfContents {
    margin-left: 0;
    list-style: none;
    list-style-type: none;

    ul {
        list-style: none;
    }

    > li:first-child {
        margin-top: 0;
        border-top: none;
    }

    h4 {
        margin-top: 0;
    }

    a {
        color: var(--text-color);
        transition: all 0.075s linear;
        text-decoration: none;

        &:visited {
            color: var(--text-color);
        }
        &:hover {
            color: var(--text-color-lighten);
            text-decoration: none;
        }
    }

    li {
        margin-top: 0.3 * $spacing-unit;
        margin-bottom: 0.3 * $spacing-unit;
    }

    a.active {
        color: var(--tint-color);
    }
}

.TOCItem2 {
    line-height: 1.0;

    a {
        font-size: 17px;
        font-weight: 500;
    }

    ul {
        margin-left: 0.5 * $spacing-unit;
    }
}

.TOCItem3 {
    line-height: 1.0;

    a {
        font-size: 16px;
        font-weight: 400;
    }

    li {
        margin-left: 0;
    }
}

// Post Specific
// ================================================

img.PostStackView_Screenshot {
    height: auto;
    width: 405px;
}

.SwiftUIExampleWithScreenshot {
    margin: $spacing-unit 0;
    padding-left: 0.5 * $spacing-unit;

    margin-right: -(0.5 * $spacing-unit);
    margin-left: -(0.5 * $spacing-unit);

    background-color: var(--background-color-secondary);

    pre {
        background-color: var(--background-color-secondary);
        border: 0;
    }

    img {
        border-left: 6px solid black;
    }

    overflow: hidden;

    @include media-query(680px) {
        padding: 0;

        img {
            border-left: 0px;
            border-top: 6px solid black;
        }
    }
}

.SwiftUIPost_ExampleWithTabs {
    margin-top: 0;
}

.SwiftUIExampleWithScreenshot_Flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.SwiftUIExampleWithScreenshot_FlexItem {
    
}

.SwiftUIExampleWithScreenshot_Left {
    width: 50%;
    @include media-query(680px) {
        width: 100%;
    }

    overflow: hidden;

    @include media-query(680px) {
        padding: 0.5 * $spacing-unit;
    }
}

.SwiftUIExampleWithScreenshot_Right {
    width: 50%;
    @include media-query(680px) {
        width: 100%;
    }
}

.SwiftUIExampleWithScreenshot_Left2 {
    width: 60%;
    @include media-query(680px) {
        width: 100%;
    }

    overflow: hidden;

    @include media-query(680px) {
        padding: 0.5 * $spacing-unit;
    }
}

.SwiftUIExampleWithScreenshot_Right2 {
    width: 40%;
    @include media-query(680px) {
        width: 100%;
    }
}

.SwiftUIExampleWithScreenshot_Left3 {
    width: 53%;
    @include media-query(680px) {
        width: 100%;
    }

    figure {
        margin-top: 0;
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
    }

    overflow: hidden;

    @include media-query(680px) {
        padding: 0.5 * $spacing-unit;
    }
}

.SwiftUIExampleWithScreenshot_Right3 {
    width: 47%;
    @include media-query(680px) {
        width: 100%;
    }
}

.SwiftUIPostHighlightedCode {
    border-radius: 8px;
    background-color: var(--background-highlighted-color);
    border: 0.5px solid var(--tint-color);
    padding: 0.1 * $spacing-unit 0.2 * $spacing-unit;
}

/* Style the tab */
.SwiftUITab {
    overflow: hidden;
    border: 0.5px solid var(--separator-color);
    border-bottom: none;
    background-color: var(--background-color-secondary);
    margin: 0;
    margin-top: $spacing-unit;
    margin-left: -(0.5 * $spacing-unit);
    @include media-query($on-mobile) {
        margin-left: 0;
    }
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: inline-block;
}

/* Style the buttons that are used to open the tab content */
.SwiftUITab button {
    background-color: inherit;
    font-size: 17px;
    font-weight: 600;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    padding: 0.25 * $spacing-unit 0.5 * $spacing-unit;
    margin: 0;
    transition: 0.3s;

    @include media-query($on-mobile) {
        font-size: 16px;
        font-weight: 500;
        padding: 0.25 * $spacing-unit 0.25 * $spacing-unit;
    }
}

/* Change background color of buttons on hover */
.SwiftUITab button:hover {
    background-color: var(--background-highlighted-color);
}

/* Create an active/current tablink class */
.SwiftUITab button.active {
    background-color: var(--background-highlighted-color);
}

/* Style the tab content */
.SwiftUITabContent {
    margin-top: -(0.25 * $spacing-unit);
    border-top-left-radius: 0;
}
