.home-site-description {
    margin: 0px 0 $spacing-unit 0;
}

/**
 * Header which we only dispaly on mobile.
 */
.home-header-mobile {
    padding: $spacing-unit * 0.75 $spacing-unit * 0.5;
    margin-bottom: 0.5 * $spacing-unit;
    background: $grey-backgrould-light-color;
    border: 0.5px solid $grey-color-light;
    border-radius: 8px;
    display: none;

    h2 {
        margin-top: 0.5 * $spacing-unit;
    }

    @include media-query($on-laptop) {
        display: inline-block;
    }
}


/**
 * Posts Container
 */
.home-posts-container {
    h3 { // Recent, etc
        margin: $spacing-unit * 1.5 0 0.5 * $spacing-unit 0;
    }
}

.branch-title {
    font-size: 30px;
}

/**
 * Post
 */
.post-title-container {
    margin-top: 0.5 * $spacing-unit;
    margin-bottom: 0.25 * $spacing-unit;
    h2 {
        display: inline;
    }
}

.post-link {
    display: inline-block;
    max-width:100%;
    color: $text-color;
    line-height: 1.0;
    letter-spacing: -1px;

    font-size: 32px;
    @include media-query($on-palm) {
        font-size: 28px;
    }

    &:visited {
        color: $text-color;
    }
}

.post-meta {
    color: $grey-color;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0.125 * $spacing-unit;
}

.post-excerpt {
    margin-top: 2px;
}

.post-continue-reading {
    font-size: 16px;
}

// Post (Featured)
// ============================================================

.post-featured-container {
    margin: 0.5 * $spacing-unit 0;
    margin-bottom: 1.5 * $spacing-unit;

    .post-link {
        font-size: 56px;
        @include media-query($on-palm) {
            font-size: 44px;
        }
    }
}

// Post (Preview)
// ============================================================

 .home-post-preview-list-container {
     display: flex;
     justify-content: space-between;
     flex-flow: row wrap;
     margin-left: 0;
     margin-top: 0.5 * $spacing-unit;
 }

.home-post-preview-container {
    border-top: 1px solid #e0e0e0;
    margin: 0 0 1 * $spacing-unit 0;

    width: 47.8%;
    @include media-query($on-palm) {
        width: 100%;
    }
}

// Post (Preview with Cover)
// ============================================================

.home__post-preview-with-cover__container {
    margin: 0 0 1 * $spacing-unit 0;

    width: 100%;

    img {
        margin: 0.25 * $spacing-unit 0;
        border-radius: 8px;
    }

    padding: $spacing-unit * 0.5 $spacing-unit * 0.5 $spacing-unit * 0.5 $spacing-unit * 0.5;
    background: $background-color-light-grey;
    border: 0.5px solid $grey-color-light;
    border-radius: 8px;
}

.home__post-preview-with-cover__flex_container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.home__post-preview-with-cover__flex_item {
    width: 47.8%;
    @include media-query($on-palm) {
        width: 100%;
    }
}
