
.home-avatar {
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
        margin-top: $spacing-unit * 0.25;
    }
}

.home-resume-button {
    text-align: center;
    font-size: 20px;
    margin: $spacing-unit * 0.5 0;

    @include media-query($on-laptop) {
        margin: $spacing-unit * 0.5 0;
    }
}

.home-divider {
    margin: $spacing-unit 0;
    border-top: 1px solid #eeeeee;
    transform: scaleY(0.5);
    width: 100%;

    @include media-query($on-palm) {
        margin: 0.5 * $spacing-unit 0;
    }
}

.home-section-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-top: $spacing-unit;
    margin-bottom: 0.5 * $spacing-unit;
    line-height: 1.1;

    @include media-query($on-palm) {
        font-size: 30px;
    }
}
