.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        border-top: 1px solid $grey-color-light;
        margin-bottom: 18px;
    }

    > li:first-child {
        border-top: none;
    }
}

.post-meta {
    font-size: 18px;
    color: lighten($grey-color, 10%);
}

.post-link-container {
    margin-bottom: 2px;
    margin-top: 4px;
}

.post-link {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    margin-top: $spacing-unit / 2;
    margin-right: 4px;
}

.post-excerpt {
    margin-top: 2px;
}

/** Open Source (Uses the same layout as posts except for some overrides)
 *
 */
 /**
  * Icons
  */
 .open-source-github-icon {

     > svg {
         display: inline-block;
         width: 16px;
         height: 16px;
         vertical-align: baseline;
         margin-left: 6px;
         margin-bottom: -1px;

         path {
             fill: $grey-color-dark;
         }
     }
 }

 .open-source-list {
     margin-left: 0;
     list-style: none;

     > li {
         border-top: 1px solid $grey-color-light;
         margin-bottom: 15px;
     }

     > li:first-child {
         border-top: none;
     }
 }

 .hr-divider {
     margin: 15px 0;
     border-top: 1px solid #e8e8e8;
     transform: scaleY(0.5);
     width: 100%;
 }
