.NukeLogo {
    height: 240px;
    margin: $spacing-unit 0 0.5 * $spacing-unit 0;

    @include media-query($on-laptop) {
        margin-top: 2 * $spacing-unit;
    }

    @include media-query($on-mobile) {
        margin-bottom: 0.33 * $spacing-unit;
        height: 160px;
    }
}

.NukeDescription {
    font-size: 42px;
    max-width: 460px;
    font-weight: 300;
    strong {
    	font-weight: 700;
    }
    line-height: 1.1;
    letter-spacing: -1px;
    color: $grey-color-dark;
    text-align: center;
    margin-top: 0.5 * $spacing-unit;
    margin-bottom: $spacing-unit;

    @include media-query($on-mobile) {
        font-size: 32px;
	}
}


// Share Icons
// ===========================================================================

.NukeShare {
    margin-top: $spacing-unit;
    display: flex;
    justify-content: center;
    @include media-query($on-mobile) {
        margin: 0.5 * $spacing-unit 0;
    }
}

.NukeShare_Icon {
    align-self: center;
}

// Contents
// ===========================================================================

.NukeSectionTitle {
    font-size: 40px;
    font-weight: 700;
    margin-top: $spacing-unit;
    margin-bottom: 0.5 * $spacing-unit;

    @include media-query($on-mobile) {
        font-size: 32px;
    }
}

.NukeFeatureList {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: $spacing-unit 0;
}

.NukeFeatureList_Item {
    width: 47%;
    margin: 0.5 * $spacing-unit 0;
    margin-right: $spacing-unit * 0.125;

    h2 {
        font-weight: 700;
        margin-top: 0;
    }

    strong {
        font-size: 26px;
    }

    p {
        margin-top: 0.25 * $spacing-unit;
    }

    @include media-query($on-mobile) {
        width: 100%;
        margin: 0.5 * $spacing-unit 0;
        margin-right: 0;

        strong {
            font-size: 24px;
        }
    }
}

.NukeFeatureWithVideo {
    video {
        width: 100%;
        height: auto;
        border: 0.5px solid $grey-color-light;
        border-radius: 8px;

        @include media-query($on-mobile) {
            margin-top: $spacing-unit;
        }
    }

    h2 {
        margin-top: -10px;
        margin-bottom: 0.5 * $spacing-unit;
        font-size: 40px;

        @include media-query($on-mobile) {
            margin-top: 4px;
            font-size: 34px;
        }
    }

    background: $background-color-light-grey;
    border: 0.5px solid $grey-color-light;
    border-radius: 8px;

    padding: $spacing-unit;
    margin: $spacing-unit 0;

    @include media-query($on-mobile) {
        border-radius: 0px;

        padding: $spacing-unit 0.5 * $spacing-unit;
        margin: 0;     
    }
}

.NukeFeatureWithVideo_Flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.NukeFeatureWithVideo_FlexItem {
    width: 47.8%;
    @include media-query($on-mobile) {
        width: 100%;
    }
}
