.Any-horInsets {
    margin: 0 $spacing-unit;
    @include media-query($on-mobile) {
        margin: 0 0.5 * $spacing-unit;
    }
}

.HorDivider {
    margin: $spacing-unit * 0.5 0 $spacing-unit 0;
    border-top: 1px solid #e0e0e0;
    transform: scaleY(0.5);
    width: 100%;
}

.Any-card {
    padding: $spacing-unit * 0.75 $spacing-unit * 0.5;
    background: $background-color-light-grey;
    border: 0.5px solid $grey-color-light;
    border-radius: 8px;
}

.Any-responsiveCard {
    background: $background-color-light-grey;
    border: 0.5px solid $grey-color-light;
    border-radius: 8px;

    @include media-query($on-mobile) {
        border-radius: 0px;
    }
}

.Link-subtle {
    color: $text-color;
    transition: all 0.075s linear;
    text-decoration: none;

    &:visited {
        color: $text-color;
    }
    &:hover {
        color: lighten($text-color, 20%);
        text-decoration: none;
    }
}

.Anchor {
    opacity: 0;

    color: lighten($grey-color, 15%);

    &:visited {
        color: lighten($grey-color, 15%);
    }
    &:hover {
        color: $grey-color;
        text-decoration: none;
    }
}

h2:hover .Anchor,
h3:hover .Anchor,
h4:hover .Anchor,
h5:hover .Anchor,
h6:hover .Anchor {
  opacity: 1;
}

.Grayscale {
    filter: invert(87%) sepia(0%) saturate(58%) hue-rotate(246deg) brightness(77%) contrast(92%);
}
