.Sidebar {
    h2 {
        font-size: 23px;
    }
}

.SidebarHeader {
    h2 {
        margin-top: $spacing-unit * 0.5;
        margin-bottom: $spacing-unit * 0.25;
    }
}

.SidebarList {
    margin-left: 0;
    list-style: none;

    > li {
        border-top: 1px solid $grey-color-light;
    }

    > li:first-child {
        margin-top: 0;
        border-top: none;
    }
}

.SidebarSections {
    p {
      font-size: 16px;
    }
    
    .Sidebar_SectionTitle {
        margin-top: $spacing-unit * 1.25;
        margin-bottom: $spacing-unit * 0.5;
        color: $grey-color;
        font-size: 18px;
    }
}

// SidebarHeader
// ================================================

.SidebarHeader {
    p {
        margin-top: $spacing-unit * 0.25;
    }
}

.SidebarHeader_Contacts {
    p {
        font-size: 14px;
    }
}

.SidebarHeader_Avatar {
    border-radius: 12px;
    max-height: 180px;
}

// SidebarPostPreview
// ================================================

.SidebarList {
    .SidebarPostPreview {
        margin-top: 0.25 * $spacing-unit;
        margin-bottom: 0.33 * $spacing-unit;
    }
}

.SidebarPostPreview {
    border-top: 1px solid #e0e0e0;
    width: 100%;

    .PostMiniPreview {
        margin: 0.25 * $spacing-unit 0;
    }
}

// Open Source
// ===================================================

.Sidebar {
    .icon-swift {
        opacity: 0.33;
        width: 16px;
        height: 16px;
    }
}

.SidebarOSSProject {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    margin: 0.33 * $spacing-unit 0;

    h2 {
        margin-top: 0.25 * $spacing-unit;
        margin-bottom: 0.1 * $spacing-unit;
    }
}

.SidebarOSSProject_Link {
    font-size: 18px;
    font-weight: 600;
    max-width: 100%;
    color: $text-color;
    letter-spacing: -0.5px;

    &:visited {
        color: $text-color;
    }
}

.SidebarOSSProject_Excerpt {
    margin-top: 0;
    line-height: 1.4;
}
