
.sidebar {
    h2 {
        font-size: 23px;
        margin-top: $spacing-unit * 0.5;
        margin-bottom: $spacing-unit * 0.25;
    }
}

.sidebar-list {
    margin-left: 0;
    list-style: none;

    > li {
        border-top: 1px solid $grey-color-light;
    }

    > li:first-child {
        margin-top: 0;
        border-top: none;
    }
}

.sidebar-link-container {
    margin: 0.25 * $spacing-unit 0;
    a {
        font-size: 16px;
    }
}

.sidebar-block {
    p {
      font-size: 16px;
    }
}

.sidebar-block {
  .section-title {
      margin-top: $spacing-unit * 1.25;
      margin-bottom: $spacing-unit * 0.5;
      color: $grey-color;
      font-size: 20px;
   }
}


// Header
// ===================================================================

.sidebar-header {
    p {
        margin-top: $spacing-unit * 0.25;
    }
}

.sidebar-title {
    color: $text-color;
    &:visited {
        color: $text-color;
    }
    &:hover {
        color: $text-color;
    }
}

.sidebar-header-about {
}

.sidebar-contacts {
    p {
        font-size: 14px;
    }
}

.sidebar-avatar {
    border-radius: 12px;
    max-width: 180px;
}

// Post
// ===================================================================

.sidebar-preview-container {
    border-top: 1px solid lightgray;
    margin: 0 0 0.5 * $spacing-unit 0;
    width: 100%;

    .post-link {
      font-size: 20px;
      letter-spacing: -0.5px;
    }
    .post-meta {
        font-size: 15px;
        margin-top: 0 * $spacing-unit;
    }
}

// Open Source
// ===================================================================

.sidebar-oss-container {
    .icon-swift {
        opacity: 0.33;
        width: 16px;
        height: 16px;
    }
}

.sidebar-oss-project-container {
    border-top: 1px solid lightgray;
    width: 100%;

    h2 {
        margin-bottom: $spacing-unit * 0.125;
    }
}

.sidebar-oss-link {
    font-size: 20px;
    max-width:100%;
    color: $text-color;
    line-height: 1.0;
    letter-spacing: -0.5px;

    &:visited {
        color: $text-color;
    }
}

.sidebar-oss-excerpt {
    margin-top: 0;
}
