
.sidebar {
    h2 {
        font-size: 23px;
        margin-top: $spacing-unit * 0.5;
        margin-bottom: $spacing-unit * 0.25;
    }
}

.sidebar-list {
    margin-left: 0;
    list-style: none;

    > li {
        border-top: 1px solid $grey-color-light;
    }

    > li:first-child {
        margin-top: 0;
        border-top: none;
    }
}

.sidebar-link-container {
    margin: 0.25 * $spacing-unit 0;
    a {
        font-size: 16px;
    }
}

.sidebar-block {
    p {
      font-size: 16px;
    }

    .section-title {
        margin-top: $spacing-unit * 1.25;
        margin-bottom: $spacing-unit * 0.5;
        color: $grey-color;
        font-size: 18px;
    }
}


// Header
// ===================================================================

.sidebar-header {
    p {
        margin-top: $spacing-unit * 0.25;
    }
}

.sidebar-contacts {
    p {
        font-size: 14px;
    }
}

.sidebar-avatar {
    border-radius: 12px;
    max-height: 180px;
}

// Post
// ===================================================================

.sidebar-preview-container {
    border-top: 1px solid #e0e0e0;
    width: 100%;

    .post-title-container {
        margin-top: 0.25 * $spacing-unit;
        margin-bottom: 0.33 * $spacing-unit;
    }

    .post-link {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.5px;
    }
    .post-meta {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 0 * $spacing-unit;
    }
}

// Open Source
// ===================================================================

.sidebar-oss-container {
    .icon-swift {
        opacity: 0.33;
        width: 16px;
        height: 16px;
    }
}

.sidebar-oss-project-container {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    margin: 0.33 * $spacing-unit 0;

    h2 {
        margin-top: 0.25 * $spacing-unit;
        margin-bottom: 0.1 * $spacing-unit;
    }
}

.sidebar-oss-link {
    font-size: 18px;
    font-weight: 600;
    max-width: 100%;
    color: $text-color;
    letter-spacing: -0.5px;

    &:visited {
        color: $text-color;
    }
}

.sidebar-oss-excerpt {
    margin-top: 0;
    line-height: 1.4;
}
