// SiteFooter
// =============================================

.SiteFooter {
    padding: $spacing-unit / 2 0;
    border-top: 1px solid #eee;
}

.SiteFooter_Links {
    font-size: 13px;
    color: lighten($grey-color, 10%);
    margin-left: -$spacing-unit / 2;
    text-align: center;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    ul, ol {
        list-style: none;
        margin-left: 0;
    }

    a {
        color: lighten($brand-color, 20%)
    }
}

.PageContents {
    padding: 0;
}

// SiteHeader
// =============================================

.SiteHeader {
    background: $background-color-light-grey;
    border: 0.5px solid $grey-color-light;

    padding: 0.5 * $spacing-unit 0;

    width: calc(100% - #{$spacing-unit * 2});
    
    // It has slightly different design on "laptop"
    // and "mobile"

    margin: $spacing-unit;
    
    border-radius: 8px;

    margin: 0.5 * $spacing-unit;
    margin-top: -4px;
    margin-bottom: 1.5 * $spacing-unit;

    display: inline-block;

    @include media-query($on-mobile) {
        width: 100%;

        margin: 0;
        margin-bottom: 0.5 * $spacing-unit;

        border-radius: 0
    }
}

.SiteHeaderProfile {
    margin: 0 0.5 * $spacing-unit;

    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    h2 {
        margin-top: 0.75 * $spacing-unit;
        @include media-query($on-mobile) {
            margin-top: 1px;
            font-size: 24px;
        }
    }
}

.SiteHeaderProfile_Spacer {
    width: $spacing-unit;
    @include media-query($on-mobile) {
        width: 0.33 * $spacing-unit;
    }
}

.SiteHeaderProfile_Avatar {
    border-radius: 12px;

    width: 100px;
    height: 100px;
    object-fit: cover;

    @include media-query($on-mobile) {
        border-radius: 8px;
        width: 60px;
        height: 60px;
    }
}

.SiteHeaderProfile_Contacts {
    p {
        margin-top: 0.2 * $spacing-unit;
    }
}
