---
layout: default
permalink: /nuke
---


<main>

<!--Header-->

<div align="center">
    <div><img class="nuke-logo" src="{{ site.url }}/images/nuke_logo.png"></div>
    <h1 class="nuke-description">A powerful <strong>image loading</strong> and <strong>caching</strong> framework</p>

</div>



<div class="nuke-share-container">
    <div class="nuke-share-icon">
        <iframe src="https://ghbtns.com/github-btn.html?user=kean&repo=Nuke&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    </div>
    <div class="nuke-share-icon nuke-share-icons-twitter">
        {% include twitter_share_button.html %}
    </div>
</div>


<!--Featurette-->

<div class="nuke-featurette-container">
    <div class="nuke-featurette-block">
        <h2>Easy to Use</h2>
        <p>Simple and expressive API. Comprehensive <a href="https://github.com/kean/Nuke#usage">usage guide</a> included. Zero configuration required.</p>
    </div>
    <div class="nuke-featurette-block">
        <h2>Fast</h2>
        <p><a href="https://user-images.githubusercontent.com/1567433/27013058-f0f23ade-4ee4-11e7-9ef8-6b8b1dc4ad5c.png">Performant</a>, asynchronous and thread-safe. Handles heavy workloads with ease.</p>
    </div>
    <div class="nuke-featurette-block">
        <h2>Reactive</h2>
        <p><a href="https://github.com/kean/RxNuke">RxNuke</a> brings a power of <a href="https://github.com/ReactiveX/RxSwift">RxSwift</a> to your image loading pipeline.</p>
    </div>
    <div class="nuke-featurette-block">
        <h2>Extensible</h2>
        <p> Nuke is a <a href="https://github.com/kean/Nuke#h_design">pipeline</a> with injectable dependencies. <a href="https://github.com/kean/Nuke-Alamofire-Plugin">Alamofire</a>, <a href="https://github.com/kean/Nuke-Gifu-Plugin">Gifu</a>, <a herf="https://github.com/kean/Nuke-Toucan-Plugin">Toucan</a> plugins available.</p>
    </div>
</div>


<!--Detailed Featurette-->

<hr class="nuke-featurette-divider">

<h1 class="nuke-section-title">Features</h1>

<p>Nuke pulls together <strong>stable</strong>, <strong>mature</strong> libraries from Swift ecosystem into <strong>simple</strong>, <strong>lightweight</strong> package that lets you focus on getting things done.</p>

<div class="nuke-feature-container">
    <ul>
        <li>Hassle-free image loading into image views and other targets</li>
        <li>Two <a href="https://kean.github.io/post/image-caching">cache layers</a> including LRU memory cache</li>
        <li>Image transformations</li>
        <li><a href="https://github.com/kean/Nuke#design">Freedom to use</a> networking, caching libraries of your choice</li>
        <li><a href="https://github.com/kean/Nuke-Alamofire-Plugin">Alamofire</a>, <a href="https://github.com/kean/Nuke-Gifu-Plugin">Gifu</a>, <a href="https://github.com/kean/Nuke-Toucan-Plugin">Toucan</a> plugins</li>
        <li>Automated <a href="https://kean.github.io/post/image-preheating">prefetching</a> with <a href="https://github.com/kean/Preheat">Preheat</a> library</li>
        <li><a href="https://github.com/kean/Image-Frameworks-Benchmark">Performant</a>, handles heavy workloads with ease</li>
    </ul>
</div>


<hr class="nuke-featurette-divider"/>

<h1 class="nuke-section-title">RxNuke</h1>

<div>

    <p><a href="https://github.com/kean/RxNuke">RxNuke</a> adds <a href="https://github.com/ReactiveX/RxSwift">RxSwift</a> extensions for Nuke and enables many common use cases:<p>
    <ul>
        <li>Going From Low to High Resolution</li>
        <li>Loading the First Available Image</li>
        <li>Showing Stale Image While Validating It</li>
        <li>Load Multiple Images, Display All at Once</li>
        <li>Auto Retry</li>
        <li>Tracking Activities</li>
    </ul>

    <p>And <a href="https://github.com/kean/RxNuke#use-cases">many more...</a></p>

</div>


<hr class="nuke-featurette-divider"/>

<h1 class="nuke-section-title">GIFs</h1>

<div>

    <p>Nuke features <a href="https://github.com/kean/Nuke-Gifu-Plugin">Gifu</a> and <a href="https://github.com/Flipboard/FLAnimatedImage">FLAnimatedImage (deprecated)</a> plugin that allows you to load and display animated GIFs with smooth scrolling performance and low memory footprint.</p>

    <div class="video-container nuke-animated-image-video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/fEJqQMJrET4?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>Captured on iPod Touch 5G</p>
</div>

</main>


<aside class="sidebar">

{% include sidebar-home.html %}

</aside>

