---
layout: default
author: "Alexander Grebenyuk"
---

<main>

{% include site-header.html %}

<article class="Any-horInsets" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="PostHeader">
        <p class="PostMeta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        <h1 class="PostTitle" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="PostContents" itemprop="articleBody">
        {{ content }}
    </div>

</article>

<div class="PostFooter Any-horInsets">

    <div class="PostNavigation Any-card">
        {% if page.previous %}
            {% assign post = page.previous %}
            <div class="PostNavigation_Button">
                <div class="PostNavigation_ButtonTitle">
                    <a href="{{ page.previous.url }}"><h2>Previous</h2></a>
                </div>
                <div class="PostNavigation_PostPreview">
                    {% include post-mini-preview.html %}
                </div>
            </div>
        {% endif %}

        {% if page.next %}
            {% assign post = page.next %}
            <div class="PostNavigation_Button">
                <div class="PostNavigation_ButtonTitle">
                    <a href="{{ page.next.url }}"><h2>Next</h2></a>
                </div>
                <div class="PostNavigation_PostPreview">
                    {% include post-mini-preview.html %}
                </div>
            </div>
        {% endif %}

    </div>

    <a name="comment-section"></a>
    {% include comment-section.html %}

</div>

</main>



<aside class="Sidebar Any-card">

{% include sidebar.html %}

</aside>
