---
layout: default
---

<main>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

</article>

<div class="post-footer">

    {% include media-buttons.html %}

    <div class="post-navigation-container">
        {% if page.previous %}
            {% assign post = page.previous %}
            <div class="post-navigation-preview-container">
                <div class="post-navigation-prev-next-button">
                    <a href="{{ page.previous.url }}"><h2>Previous</h2></a>
                </div>
                <div class="post-navigation-preview">
                    {% include post-mini-preview.html %}
                </div>
            </div>
        {% endif %}

        {% if page.next %}
            {% assign post = page.next %}
            <div class="post-navigation-preview-container">
                <div class="post-navigation-prev-next-button">
                    <a href="{{ page.next.url }}"><h2>Next</h2></a>
                </div>
                <div class="post-navigation-preview">
                    {% include post-mini-preview.html %}
                </div>
            </div>
        {% endif %}

    </div>

    <a name="comment-section"></a>
    {% include comment_section.html %}

</div>

</main>



<aside class="sidebar">

{% include sidebar.html %}

</aside>
